:root {
    --primary: #8F0000;
    --secondary: #F30000;
  }

body{
    font-family: "Montserrat", sans-serif;
}

.hero{

    background-color: black;
}

.bg-primary{
    background-color: var(--primary);

}

.bg-secondary{
    background-color: var(--secondary);
}

.button{

    
}

.bg-moto{
    border-radius: 78px;
}

.moto-title{
    color: var(--primary);
    font-weight: 800;
    font-style: italic;
}

.button-more-moto{
    background-color: var(--primary);
}

.text-primary{
    color: var(--primary);
}